@import 'media';
/*  VARIABLES  */
@offset-horizontal: 1.5rem;
@offset-vertical: 8rem;
@offset-vertical-small: 4rem;

@grid-width: 112rem;
@grid-padding-small: 2rem;
@grid-padding: 4rem;
@grid-padding-big: 6rem;
@col-1-width: ~'calc((100% - 11 * @{offset-horizontal}) / 12)';

@color-primary: #5022c8;
@color-grey-dark: #2a2a2a;
@color-grey-light: #c8c8c8;
@color-white: #fff;
@color-black: #000;
@color-highlight: #af233f;

/*   BASE   */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px; // 1rem = 10px
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
}

/*  GRID  */
.row {
    margin: @offset-vertical 0 @offset-vertical-small;

    //&:not(:last-child) {
    //    margin-bottom: @offset-vertical-small;
    //}

    @media @desktop {
        max-width: @grid-width;
        margin: @offset-vertical auto @offset-vertical-small;
    }
}

/*[class^='col-'] {
    display: inline-block;
    vertical-align: top;
    width: ~'calc(@{col-1-width} * 12 + 11 * @{offset-horizontal})';

    &:not(:last-child) {
        margin-right: @offset-horizontal;
    }

    @media @tablet {
        width: ~'calc(@{col-1-width} * 6 + 5 * @{offset-horizontal})';
    }
}

@media @desktop {
    !*
total 12 columns
.col-1{ // width of one column
    ...
}
.col-2{ // width of two column
    ...
}
...*!
    .col-4 {
        width: @col-1-width;
        //width: ~'calc(@{col-1-width} * 4 + 3 * @{offset-horizontal})';
    }
}*/


/*  UTILITIES  */
.clear-fix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

/*  STYLES  */
//.arrow {
//    border-style: solid;
//    border-width: 0 .5rem .5rem 0;
//    display: inline-block;
//    padding: .5rem;
//
//    &._down {
//        transform: rotate(45deg);
//    }
//
//    &._left {
//        transform: rotate(135deg);
//    }
//
//    &._right {
//        transform: rotate(-45deg);
//    }
//}
.header {
    height: 12rem;
    color: @color-white;
    text-align: center;
}

.header-top {
    position: relative;
    background-color: @color-primary;
}

.header-bottom {
    position: relative;
    height: 5rem;
    background: @color-grey-dark;
    z-index: -1;
}

.address-box {
    display: inline-block;
    font-weight: 100;
    height: 100%;
    font-size: 1.2rem;
    transform: scaleX(.8);
    position: absolute;
    bottom: -6rem;
    left: 0;
    padding: 1rem;

    &__heading {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__address {
        text-transform: capitalize;
    }

    &__dropdown {
        height: .7rem;
        cursor: pointer;
    }

    @media @tablet {
        top: 0;
        padding: 2rem 3rem;
    }
}


.logo-box {
    height: 5.5rem;
    display: inline-block;
    padding: 2rem 0;

    @media @tablet {
        height: 6rem;
    }

    @media @desktop {
        height: 7rem;
    }
}

.logo {
    height: 100%;
}

.search {
    padding: 0 1rem;
    height: 5rem;
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: -5rem;
    right: 0;

    &__field {
        display: inline-block;
        height: 45%;
        outline: none;
        border-width: 0 50% 50% 0;
        border-style: solid;
        border-color: @color-primary;
        color: @color-grey-dark;
        border-radius: 3px;
        margin-right: 1.5rem;
        width: 15rem;
        position: relative;
        transition: all .3s;

        @media @desktop {
            width: 20rem;
            height: 0;

            &:focus {
                transform: scaleY(1.05);
            }
        }
    }

    &__btn {
        height: 30%;

        &:hover {
            transform: scale(1.05);
        }

        @media @desktop {
            height: 40%;
        }
    }

    &:hover &__field {
        height: 45%;
        border-width: 0;
    }

    @media @tablet {
        top: 0;
        padding: 0 3rem;
        height: 7rem;
    }
}

.menu {
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @color-grey-dark;
    color: @color-grey-light;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.6rem;
    display: none;
    line-height: 5rem;

    @media @tablet-strict {
        padding: 0 !important;
    }

    @media @tablet {
        display: flex;
    }

    &__item {
        display: block;
        list-style-type: none;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;

        &:hover,
        &._selected {
            background-color: @color-black;
        }

        @media @tablet {
            display: inline-block;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        display: inline-block;
        height: 100%;
        width: 100%;
        font-stretch: ultra-condensed;
        transform: scaleX(.9);
        color: @color-grey-light;
        text-decoration: none;
    }
}

.menu-hidden {
    float: left;
    padding: 1.5rem;

    &__check-box {
        display: none;
    }

    &__icon {
        height: 3rem;
    }

    @media @tablet {
        display: none;
    }
}

.bread-crumbs {
    list-style: none;
    padding: 2rem 4rem;

    &__item {
        display: inline-block;
        font-size: 1.6rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: @color-grey-dark;
        text-transform: uppercase;


        &:hover {
            font-weight: bold;
        }
    }

    &__item:last-child &__link {
        color: @color-highlight;
    }
}

.heading-primary {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
}

.content {
    padding: 0 @grid-padding-small 10rem;

    @media @phone {
        padding: 2rem @grid-padding;
    }

    @media @desktop {
        padding: 5rem @grid-padding-big;
    }
}

.main-video {
    border-bottom: 1px solid @color-grey-dark;
    padding-bottom: 2rem;

    &__description {
        font-weight: bold;
        font-size: 1.6rem;
    }
}

.video-box {
    margin: 2rem 0;
    width: 100%;
    position: relative;

    &__preview {
        width: 100%;
        height: 100%;
    }

    &__btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
        width: 30%;
        border-radius: 50%;
        transition: all .2s;

        & > * {
            width: 100%;
        }

        &:hover {
            opacity: .9;
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}

.video-gallery {
    text-align: center;
}

.slider {
    position: relative;

    &__item {
        padding: 0 .5rem;
        display: block;

        @media @tablet {
            display: inline-block;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        padding: .7rem;
        border-color: @color-grey-light;
        transition: all .2s;

        &._available {
            border-color: @color-grey-dark;
        }

        &:hover &._available {
            cursor: pointer;
            padding: .8rem;
            border-width: 0 .6rem .6rem 0;
        }

        &:active &._available {
            cursor: pointer;
            padding: .7rem;
            border-width: 0 .6rem .6rem 0;
        }
    }
}

.slick-arrow {
    cursor: pointer;
    border-style: solid;
    border-width: 0 .5rem .5rem 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    padding: .7rem;
    border-color: @color-grey-dark;
    transition: all .2s;
    background: transparent;

    &.slick-disabled {
        border-color: @color-grey-light;
    }

    &:focus,
    &:active {
        outline: none;
    }

    &:hover:not(.slick-disabled) {
        padding: .8rem;
        border-width: 0 .6rem .6rem 0;
    }

    &:active:not(.slick-disabled) {
        padding: .7rem;
        border-width: 0 .6rem .6rem 0;
    }
}

.slick-prev {
    transform: rotate(135deg);
    left: -3rem;

    @media @desktop {
        left: -4rem;
    }
}

.slick-next {
    transform: rotate(-45deg);
    right: -3rem;

    @media @desktop {
        right: -4rem;
    }
}

.load-btn {
    text-transform: uppercase;
    background-color: @color-grey-dark;
    color: @color-grey-light;
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    font-weight: 400;
    font-stretch: condensed;

    &:focus,
    &:active {
        outline: none;
    }

    @media @phone {
        display: none;
    }
}

.footer {
    background-color: @color-grey-dark;
    color: @color-grey-light;
    padding: 3rem 2rem 10rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    position: relative;
    font-weight: 200;

    @media @tablet {
        padding: 2rem 4rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
    }

    &__item {
        margin-bottom: 3rem;
    }

    &__nav {
        width: 20rem;
        text-align: left;
        float: left;
    }

    &__nav-list {
        list-style: none;
    }

    &__nav-item {
        display: inline-block;
        padding: .5rem;

        &:hover {
            background-color: @color-black;
            cursor: pointer;
        }
    }

    &__contacts {
        @media @tablet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__contact-list {
        list-style: none;
    }

    &__contact-item {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        margin: 1rem 2rem 1rem 0;
        @media @tablet {
            margin: 1.5rem;
            height: 3rem;
            width: 3rem;
        }
    }

    &__icon-wrap {
        height: 100%;
        width: 100%;

        & > svg,
        & > svg > * {
            fill: @color-grey-light;
            height: 100%;
            width: 100%;
        }
    }

    &__location {
        padding: .5rem;
        text-align: left;
        @media @tablet {
            float: right;
            text-align: right;
        }
    }

    &__location-value {
        font-weight: 600;
    }
}


